<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Log In</title>
    
    <!-- core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{//goo.gl/mTc43h}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{cssbox/style.css}">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
</head><!--/head-->

<body style="background-image: url(/images/backgrounf.png)">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/index}"><img src="/images/logologo.png" alt="logo" style="width: 150px; height: 70px;"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Issue  &nbsp; &nbsp; <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/issue">Issue</a></li>
                                <li><a href="/vote">Vote Issue</a></li>
                            </ul>
                        </li>
                        <li><a href="/people">People</a></li>
                        <!-- <li><a href="masuk.html">Log In</a></li>  -->
                        <li><a href="#"><img src="icon/notif-white.png" style="width: 20px; height: 20px;"></a></li>    
                        <li class="dropdown"><!-- <div class="pull-left post_profil" th:object= "${session.user}">
                            <img src="images/blog/girl.png" class="profil" >
                            </div> <p th:text = "${session.user.username}"></p> <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{'/profil/'+${session.user.id_user}}">Profil</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul> -->
                        </li>
                               
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header>
    <div class="top"></div>

<section id="main-slider" class="no-margin">
    <div style="background:rgb(255, 255, 255, 0.5); border-radius: 10px; padding: 20px">
    <div class="blog" style="background:rgb(211, 211, 211); border-radius: 10px; padding: 30px 30px 30px">
            <div class="center">        
                <h4 style="color: black">Pilih bidang keahlianmu<h4>
                <p class="lead"></p>
            </div> 
            <div class="row contact-wrap"> 
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
                    <div class="col-sm-4 col-sm-offset-1" style="color: black">
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/keuangan-black.png" class="img" > Keuangan </label>
                        </table>
                        </div>
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/teknologi-black.png" class="img" > Teknologi </label>
                        </table>
                        </div>
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/pemerintahan-black.png" class="img" > Pemerintahan </label>
                        </table>
                        </div>
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/sosial-black.png" class="img" > Sosial dan Budaya </label>
                        </table>
                        </div>  
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/politik-black.png" class="img" > Politik </label>
                        </table>
                        </div>
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/fashion-black.png" class="img" > Fashion </label>
                        </table>
                        </div>  
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/iklim-black.png" class="img" > Iklim dan Cuaca </label>
                        </table>
                        </div>                     
                    </div>
                    <div class="col-sm-4" style="color: black">
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/riset-black.png" class="img" > Riset dan Penelitian </label>
                        </table>
                        </div>
                        
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/hiburan-black.png" class="img" > Hiburan dan Seni </label>
                        </table>
                        </div>                   
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/transportasi-black.png" class="img" > Transportasi </label>
                        </table>
                        </div> 
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/makanan-black.png" class="img" > Makanan dan Minuman </label>
                        </table>
                        </div>  
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/olahraga-black.png" class="img" > Olahraga </label>
                        </table>
                        </div> 
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/energi-black.png" class="img" > Energi dan Pertambangan </label>
                        </table>
                        </div> 

                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/jurnalistik-black.png" class="img" > Jurnalistik </label>
                        </table>
                        </div> 
                    </div>
                    <div class="col-sm-3" style="color: black">
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/pendidikan-black.png" class="img" > Pendidikan </label>
                        </table>
                        </div> 
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/kesehatan-black.png" class="img" > Kesehatan </label>
                        </table>
                        </div>
                                           
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/lingkungan-black.png" class="img" > Lingkungan Hidup </label>
                        </table>
                        </div> 
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <label></label>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/hukum-black.png" class="img" > Hukum </label>
                        </table>
                        </div>
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <tr>
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/limbah-black.png" class="img" > Limbah </label>
                            </td></tr>
                            
                        </table>
                        </div> 
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">
                        <tr>                                              
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/pariwisata-black.png" class="img" > Pariwisata </label>
                            </td>
                        </tr>
                        </table>
                        </div> 
                        <div class="form-group">
                        <table style="margin-top: 0; margin-left: 0px;">         
                        <tr>               
                            <td style="padding-right: 40px"><label><input type="checkbox" class="option-input checkbox"  /> &nbsp;<img src="/icon/perdagangan-black.png" class="img" > Perdagangan </label>
                        	</td>
                        </tr>
                        </table>
                        </div> 
                    </div>

                </form> 
            </div><!--/.row-->
    <br>

    <div style="text-align: center; color:black;"><div style="font-size: 13px"><label><input type="checkbox" class="opsi"  /> &nbsp; I Agree with Terms and Conditions </label>
        <div class="form-group" style="text-align: center;">
                    <a type="submit" class="btn btn-primary btn-lg" href="/index">Join</a>
                
        </div>
    </div><!--/.container-->
                         
    </div>
    </div>
    </div>
 
    </section>  

    <div id="bottom">
    </div> 
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div align="center">
                    &copy; 2018 Indonesia Talent Connection. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>