<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style type="text/css">
    tr{
        padding-top: 30px;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Issue</title>
    
    <!-- core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{//goo.gl/mTc43h}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/cssbox/style.css}">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
</head><!--/head-->

<body style="background-image: url(/images/backgrounf.png)">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/index}"><img src="/images/logologo.png" alt="logo" style="width: 150px; height: 70px;"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown">Issue  &nbsp; &nbsp; <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/issue">Issue</a></li>
                                <li><a href="/vote">Vote Issue</a></li>
                            </ul>
                        </li>
                        <li><a href="/people">People</a></li>
                        <!-- <li><a href="/masuk">Log In</a></li>  -->  
                        <li><a href="#"><img src="icon/notif-white.png" style="width: 20px; height: 20px;"></a></li> 
                        <li class="dropdown"><div class="pull-left post_profil" th:object= "${session.user}">
<!--                             <img src="images/blog/girl.png" class="profil" > -->
                            </div> <a th:text = "${session.user.fullname}"></a> <i class="fa fa-angle-down"></i>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{'/profil/'+${session.user.id_user}}">Profil</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>     
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header>
    <div class="top"></div>
    <section id="main-slider" class="no-margin" style="color: black">

    <div style="background:rgb(255, 255, 255, 0.5); border-radius: 10px; padding: 20px">
        <div class="blog" style="background:rgb(255, 255, 255, 0.8); border-radius: 10px; padding: 20px 20px 20px">
            <div class="row">
                 <div class="col-md-12">
                    <div class="blog-itemz">
                    <h1>Isi data-data berikut</h1>
                        <div class="row" th:each = "t:${topic}">
                        <form  class="contact-form" name="contact-form" method="post" th:action="@{'/topic/edit/'+ ${t.id}}" th:object="${topics}">
                            <div class="col-sm-12 col-sm-offset-0">
                            <div class="isi">
                                <div class="form-group">
                                        <label>Judul</label>
                                        <input type="text"  class="form-control" required="required" th:field="*{title}">

                                        <label  style="padding-top: 20px;">Isi</label>
                                        <textarea  class="form-control" rows="8" th:field="*{description}" required ="required"></textarea>
										
                                </div>
                              </div>
                            </div>
                            <!-- ==================== untuk check box ================================== -->
                                                       
					                  <div class="col-sm-12">
					                    <div class="isis"><h2 style="color: black">Kategori Persoalan</h2>
					                        <div class="form-group" style="padding-top: 30px;">
					                        <div class="col-md-3">
					                        <table>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="1"> &nbsp;<img src="/icon/keuangan-black.png" class="img" value="1" > Keuangan</label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="2"> &nbsp;<img src="/icon/teknologi-black.png" class="img" value="2"> Teknologi</label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="3"> &nbsp;<img src="/icon/sosial-black.png" class="img" value="3"> Sosial dan Budaya</label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="4"> &nbsp;<img src="/icon/politik-black.png" class="img" value="4"> Politik</label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="5"> &nbsp;<img src="/icon/perdagangan-black.png" class="img" value="5"> Perdagangan</label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="6"> &nbsp;<img src="/icon/jurnalistik-black.png" class="img" value="6"> Jurnalistik</label></tr>
					                        </table>
					                        </div>
					                        <div class="col-md-3">
					                        <table>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="7"> &nbsp;<img src="/icon/iklim-black.png" class="img" value="7"> Iklim dan Cuaca</label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="8"> &nbsp;<img src="/icon/pendidikan-black.png" class="img" value="8"> Pendidikan </label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="9"> &nbsp;<img src="/icon/kesehatan-black.png" class="img" value="9"> Kesehatan </label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="10"> &nbsp;<img src="/icon/riset-black.png" class="img" value="10"> Riset dan Penelitian </label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="11"> &nbsp;<img src="/icon/hukum-black.png" class="img" value="11" > Hukum </label></tr>
					                        </table>
					                        </div>
					                        <div class="col-md-3">
					                        <table>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="12"> &nbsp;<img src="/icon/olahraga-black.png" class="img" value="12"> Olahraga </label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="13"> &nbsp;<img src="/icon/transportasi-black.png" class="img" value="13"> Transportasi </label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="14"> &nbsp;<img src="/icon/hiburan-black.png" class="img" value="14"> Hiburan dan Seni </label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="15"> &nbsp;<img src="/icon/limbah-black.png" class="img" value="15"> Limbah </label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="16"> &nbsp;<img src="/icon/energi-black.png" class="img" value="16"> Energi dan Pertambangan </label></tr>
					                        </table>
					                        </div> 
					                        <div class="col-md-3">
					                        <table>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="17"> &nbsp;<img src="/icon/lingkungan-black.png" class="img" value="17"> Lingkungan Hidup</label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="18"> &nbsp;<img src="/icon/pariwisata-black.png" class="img" value="18"> Pariwisata </label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="19"> &nbsp;<img src="/icon/pemerintahan-black.png" class="img" value="19"> Pemerintahan </label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="20"> &nbsp;<img src="/icon/fashion-black.png" class="img" value="20"> Fashion </label></tr>
					                            <tr><label style="padding-bottom: 20px;"><input type="checkbox" class="cekbox checkbox" value="21"> &nbsp;<img src="/icon/makanan-black.png" class="img" value="21"  > Makanan dan Minuman </label></tr>
					                        </table>
					                        </div> 
					                    </div>
					                    </div>
					     
					                </div> 
                            <div style="text-align: right; padding-right: 20px;"><button type="submit" class="btn btn-primary readmore">Save</button></div>
                        </form>
                        </div>
                    </div>    
                </div><!--/.blog-item--> 
            </div>
            </div>
        </div>
    </div>
    </section>



    <div id="bottom">
    </div>    
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div align="center">
                    &copy; 2018 Indonesia Talent Connection. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>