<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Issue</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
<link th:href="@{/css/animate.min.css}" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/css/responsive.css}" rel="stylesheet">
<link th:href="@{//goo.gl/mTc43h}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/cssbox/style.css}">

<link rel="shortcut icon" href="images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	th:href="@{/images/ico/apple-touch-icon-144-precomposed.png}">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
<link rel="apple-touch-icon-precomposed"
	th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
</head>

<body style="background-image: url(/images/backgrounf.png)">

	<header id="header">
		<nav class="navbar navbar-inverse" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/index}"><img
						src="/images/logologo.png" alt="logo"
						style="width: 150px; height: 70px;"></a>
				</div>

				<div class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a th:href="@{/index}">Home</a></li>
						<li class="dropdown active"><a class="dropdown-toggle"
							data-toggle="dropdown">Issue &nbsp; &nbsp; <i
								class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu">
								<li><a th:href="@{/issue}">Issue</a></li>
								<li><a th:href="@{/vote}">Vote Issue</a></li>
							</ul></li>
						<li><a th:href="@{people}">People</a></li>
						<!-- <li><a th:href="@{/masuk}">Log In</a></li>  -->
						
						<li class="dropdown"><div class="pull-left post_profil"
								th:object="${session.user}"></div> <a
							th:text="${session.user.fullname}"></a> <i
							class="fa fa-angle-down"></i>
							<ul class="dropdown-menu">
								<li><a th:href="@{'/profil/'+${session.user.id_user}}">Profil</a></li>
								<li><a href="/logout">Log Out</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
			<!--/.container-->
		</nav>
		<!--/nav-->

	</header>
	<div class="top"></div>


	<section id="main-slider" class="no-margin">
		<div
			style="background: rgb(255, 255, 255, 0.5); border-radius: 10px; padding: 20px">
			<div class="blog"
				style="background: rgb(255, 255, 255, 0.8); border-radius: 10px; padding: 30px 30px 30px">
				<div class="row">
					<div class="col-md-8">
						<div class="blog-item">
							<div th:if="${topicsfound == null}" class="row">
								<div class="col-xs-12 col-sm-12 blog-content"
									th:if="${not #lists.isEmpty(topic)}">
									<div class="garis" th:each="t:${topic}">
										<h2>
											<a th:href="@{'/issuedetail/' + ${t.topic.id}}" class="c"
												th:text="${t.topic.title}"></a>
										</h2>

										&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span id="publish_date">&nbsp;
											<span th:text="${t.category.name}"></span>
										</span>
										<h3 th:text="${t.topic.description}"></h3>
										<a class="btn btn-primary readmore"
											th:href="@{'/issuedetail/' + ${t.topic.id}}">Ikut
											Bergabung <i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>
							</div>
							<div th:if="${topicsfound != null}">
								<h2>Search Result</h2>
								<div class="col-xs-12 col-sm-12 blog-content">

									<div class="garis" th:each="t:${topicsfound}">
										<h2>
											<a th:href="@{'/issuedetail/' + ${t.topic.id}}" class="c"
												th:text="${t.topic.title}"></a>
										</h2>

										&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
										
										<span id="publish_date">&nbsp;
											<span th:text="${t.category.name}"></span>
										</span>
										<h3 th:text="${t.topic.description}"></h3>
										<a class="btn btn-primary readmore"
											th:href="@{'/issuedetail/' + ${t.topic.id}}">Ikut
											Bergabung <i class="fa fa-angle-right"></i>
										</a>
									</div>
								</div>

							</div>
						</div>
						<!--/.blog-item-->


						<!-- <div style="text-align: center">
                    <ul class="pagination pagination-lg">
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
                    </ul>
                    </div> -->
					</div>
					<!--/.col-md-8-->




					<aside class="col-md-4">

						<div class="widget search">
							<div style="padding: 1em 0.5em 1em 0.5em" class="boldez">
								<form th:action="@{/search}" role="form">
									<input name="searchTitle" type="text"
										class="form-control search_box" autocomplete="off"
										placeholder="Search Here">
								</form>
							</div>
						</div>

						<div class="widget search">
							<div
								style="border-radius: 10px 10px 10px 10px; border: 2px solid #0048bc; padding: 0.5em 0.5em 1em 0.5em"
								class="boldel">
								<form role="form">
									<div style="text-align: center">
										<h4>Anda memiliki Persoalan dan belum memiliki solusi ?</h4>
										<h4>Post disini</h4>
										<div style="margin-top: 20px;">
											<a type="submit" name="submit" class="btn-tambah"
												required="required" href="/isi">Post</a>
										</div>
									</div>
								</form>
							</div>
							<!--/.search-->
						</div>

						<div class="widget categories">
							
						</div>
					</aside>
				</div>
				<!--/.row-->
			</div>
		</div>
	</section>
	<!--/#blog-->


	<div id="bottom"></div>
	<footer id="footer" class="midnight-blue">
		<div class="container">
			<div class="row">
				<div align="center">&copy; 2018 Indonesia Talent Connection.
					All Rights Reserved.</div>
			</div>
		</div>
	</footer>
	<!--/#footer-->

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/wow.min.js"></script>
</body>
</html>