<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <style>
        .tanggal{
            text-align: right;
        }    
        .testt{
            width: 50px;
            height:45px;
        }
        
        .nonono{
        	width: 300px;
            height:200px;
        }
        
    </style>
    <head>
        <title>Detail Issue</title>
      
        <!-- core CSS -->
    	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    	<link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
    	<link th:href="@{/css/animate.min.css}" rel="stylesheet">
  	  	<link th:href="@{/css/main.css}" rel="stylesheet">
    	<link th:href="@{/css/responsive.css}" rel="stylesheet">
    	<link th:href="@{//goo.gl/mTc43h}" rel="stylesheet">
    	<link rel="stylesheet" th:href="@{/cssbox/style.css}">
         
    	<link rel="shortcut icon" th:href="@{images/ico/favicon.ico}">
    	<link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-144-precomposed.png}">
    	<link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
    	<link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
    	<link rel="apple-touch-icon-precomposed" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
		</head><!--/head-->

    	<body style="background-image: url(/images/backgrounf.png)">

        <header id="header">
            <nav class="navbar navbar-inverse" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" th:href="@{/index}"><img src="/images/logologo.png" alt="logo" style="width: 150px; height: 70px;"></a>
                    </div>
                    
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a th:href="@{/index}">Home</a></li>
                            <li class="dropdown active">
                                <a class="dropdown-toggle" data-toggle="dropdown">Issue  &nbsp; &nbsp; <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a th:href="@{/issue}">Issue</a></li>
                                    <li><a th:href="@{/vote}">Vote Issue</a></li>
                                </ul>
                            </li>
                            <li><a href="/people">People</a></li>
                            <!-- <li><a href="/masuk">Log In</a></li>  -->   
                            <li><a href="#"><img src="/icon/notif-white.png" style="width: 20px; height: 20px;"></a></li>     
                        <li class="dropdown"><div class="pull-left post_profil" th:object= "${session.user}">
                            <!-- <img src="images/blog/girl.png" class="profil" > -->
                            </div> <a th:text = "${session.user.fullname}"></a> <i class="fa fa-angle-down"></i>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{'/profil/'+${session.user.id_user}}">Profil</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>      
                        </ul>
                    </div>
                </div><!--/.container-->
            </nav><!--/nav-->
            
        </header>
        <div class="top"></div>

        <section id="main-slider" class="no-margin">
    	<div style="background:rgb(255, 255, 255, 0.5); border-radius: 10px; padding: 20px">
            <div class="blog" style="background:rgb(255, 255, 255, 0.8); border-radius: 10px; padding: 30px 30px 30px">
                <div class="row">
                        <div class="blog-item">
                                <div class="col-xs-9 col-sm-11 blog-content" th:each="t:${topic}">
                                    <h2><a href="/issuedetail"><div class="c" th:text="${t.title}"></div></a></h2>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <span id="publish_date"><img src="/icon/calendar-black.png" style="width: 15px; height: 15px;" class="img"> &nbsp;<td th:text="${t.datecreated}"></td></span>
                                	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                 	<span id="publish_date"><i class="fa fa-user"></i> &nbsp;<span th:text="${t.user.fullname}"></span></a></span>
                                 	<br>
                                 	<div style="margin-top: 30px">
                                    <img class="nonono" alt=""  th:src="'/images/'+${t.picture}"/>
                                    </div>
                                    <h3 th:text = ${t.description}></h3>
                                    </div>
                                </div><!--/.blog-item-->
                            
                            <div class="media comment_section" > 
                                <h4 style="color: black"> &nbsp; &nbsp; Komentar</h4>
                                
                             <div th:each="t:${comm}">   
                                <div class="col-md-11" >
                                
                                <div class="media-body post_reply_comments"  style="margin-bottom:10px">
                                <table>
                                <tr>
                                    <td rowspan="3"><div class="pull-left post_comments"><img th:src="'/images/' + ${t.user.picture}" class="img-circle"></div>
                                </td>
                                    <td style="padding-left: 15px;"><h3 th:text= "${t.user.fullname}"></h3></td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 15px;" th:text="${t.content}"></td>
                                </tr>
                                </table>
                                <div><h4 class="tanggal" th:text="${t.datecreated}"></h4></div>
                                 </div>	
                                 <div th:if="${trues}">
                                 	<table>
                                 	<tr>
                                 		<td><img class = "testt" src="/icon/ve.png"></td>
                                 	</tr>
                                 	</table>
                                 	
                                 </div>
                                 	<div th:if="${truess}">
	                               <div th:if="${all}">
	                               <table style="margin-top: 10px; text-align: center;">
	                                <tr>
	                                	<form th:action = "@{'/hapuscommend/' + ${t.id_comment}}"  method = "post">
	                                    <td>
	                                    <button type = "submit" class="ngapuss" ><img class="imgx" src="/icon/delete-white.png" alt=""></button>
	                                    </td>
	                                    </form>
	                                    <form th:action = "@{'/verifcommend/' + ${t.id_comment}}"  method = "post">
	                                    <td>
	                                    <button class="ngeditt" ><img class="imgx" src="/icon/veri.png" alt=""></button>	                                   
 										</td>
 										</form>   
	                                </tr>
	                                <tr>
	                                    <!-- <td colspan="2"><img class="testt" src="/icon/ve.png"></td>-->
	                                    
	                                </tr>
	                                </table>
	                               
	                                </div>	                         
      								 <div th:if="${halfs}">
	                                	<form th:action = "@{'/hapuscommend/' + ${t.id_comment}}" th:object = "${commment}" method = "post">
	                               		<table style="margin-top: 10px; text-align: center;">
	                                <tr>
	                                    <td>
	                                    <button type = "submit" class="ngapuss" ><img class="imgx" src="/icon/delete-white.png" alt=""></button>
	                                    </td>
	                                    <!-- <td>
	                                    <a class="ngeditt" ><img class="imgx" src="/icon/veri.png" alt=""></a>
	                                    </td> -->
	                                    
	                                </tr>
	                                </table>
	                                	</form>
	                                </div>  
	                                </div>
	                                
	                                </div >                            
                  </div>
                </div>
                            
							<div th:each="t:${topic}">
							<form th:action="@{'/addcommend/'+${t.id}}" th:object="${comment}" method="post">
                            <div id="contact-page clearfix" >
                                
                                <div class="message_heading"><!-- 
                                <br>
                                <div style="border: 2px solid #014599;"></div> -->
                                    <h4 style="color: black;">Beri Komentar</h4>
                                    <p></p>
                                </div> 
            					<textarea  class="form-control" rows="7" th:field="*{content}" required="required"></textarea>
                                <div class="form-group"><div style="text-align: right;">
                                    <button type="submit"  class="btn btn-primary readmore" >Create</button>
                                </div>
                                </div>        
                            </div><!--/#contact-page-->							
							</form>
							</div>
                        </div><!--/.col-md-8-->
                    </div>
      </section>
        <div id="bottom">
        </div>    
        <footer id="footer" class="midnight-blue">
            <div class="container">
                <div class="row">
                    <div align="center">
                        &copy; 2018 Indonesia Talent Connection. All Rights Reserved.
                    </div>
                </div>
            </div>
        </footer><!--/#footer-->

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.prettyPhoto.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/wow.min.js"></script>
    </body>
    </html>