<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Log In</title>

<!-- core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
<link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
<link th:href="@{/css/animate.min.css}" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/css/responsive.css}" rel="stylesheet">
<link th:href="@{//goo.gl/mTc43h}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/cssbox/style.css}">

<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
<link rel="shortcut icon" href="/images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	th:href="@{/images/ico/apple-touch-icon-144-precomposed.png}">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
<link rel="apple-touch-icon-precomposed"
	th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
</head>
<!--/head-->

<body style="background-image:url(/images/backgrounf.png)">

	<header id="header">
		<nav class="navbar navbar-inverse" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/index}"><img src="/images/logologo.png" alt="logo" style="width: 150px; height: 70px;"></a>
				</div>

				<div class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="/logout">Home</a></li>
						<li class="dropdown"><a class="dropdown-toggle"
							data-toggle="dropdown">Issue  &nbsp; &nbsp; <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="/logout">Issue</a></li>
								<li><a href="/logout">Vote Issue</a></li>
							</ul></li>
						<li><a href="/logout">People</a></li>
						<li><a th:href="${sessionhref}" ><label th:text="${ssession}"></label></a></li>
					</ul>
				</div>
			</div>
			<!--/.container-->
		</nav>
		<!--/nav-->

	</header>
	<div class="top"></div>


	<section id="main-slider" class="no-margin">
		<div
			style="background: rgb(255, 255, 255, 0.5); border-radius: 10px; padding: 20px">
			<div
				style="background: #d9d9d9; border-radius: 10px; padding: 20px 20px 20px">
				<div class="pembatas">
					<div class="container">
						<div class="form-group">
							<div class="status alert alert-success" style="display: none"></div>
							<form id="login-form" th:action="@{/masuk/user}" method="post">
								<div class="col-sm-5">
									<div class="form-group">
									<p th:if="${loginError}" class="alert alert-danger alert-dismissable">Wrong username or password!</p>
										<label>Username &nbsp;</label>&nbsp;
											<input type="text" id="user" name="user" placeholder="Username" class="form-control" required="required" style="width: 350px">
									</div>
								</div>
								<div class="col-sm-5">
									<div class="form-group"> <label>Password &nbsp;</label>&nbsp;
										<input type="Password" id="pass" name="pass" placeholder="Password" class="form-control" required="required" style="width: 350px">
									</div>
								</div>

								<div class="col-sm-1">
										<div class="form-group">
											<button type="submit" id="btn_submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
										</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<br>
				<div class="center">
					<h2 style="color: black">Mari bergabung dengan kami</h2>
					<h4 style="color: black">
						Menyalurkan talenta-talenta masyarakat Indonesia di berbagai
						negara
						<h4>
							<p class="lead"></p>
				</div>
				<div class="row contact-wrap">
					<div class="status alert alert-success" style="display: none"></div>
						
						<p th:if="${okey}" > Untuk verifikasi Silahkan Kunjungi http://localhost/verifikasi</p>
						<!-- <input name="lblErrDaftar" value="${labelError}" readonly="readonly" />	 -->
						
						<!-- <input name="lblErrDaftar" value="<c:out value='${labelError}'/>" /> -->						
						
						<form th:action = "@{'/daftar/'}" method = "post">		
						<div class="col-sm-5 col-sm-offset-1" >
							<div class="form-group">
								<label>Nama Lengkap</label> <input type="text" name = "fullname"
									class="form-control" required="required">
							</div>
							<div class="form-group">
								<label>Nomor HP</label> <input type="text" name="numberhp"
									class="form-control" required="required">
							</div>
							<div class="form-group">
								<label>Jenis Kelamin</label>
								<table style="margin-top: 0; margin-left: 0px;" >
									<td style="padding-right: 40px"><label><input type="radio" class="option-input radio"  name="sex"  value = "Pria"/> &nbsp;Pria </label></td>
									<td><label><input type="radio" class="option-input radio" name="sex" value = "Wanita"/> &nbsp;Wanita</label></td>
								</table>
							</div>
							<div class="form-group">
								<label>Alamat</label>
								<textarea name="address" id="message" required="required"
									class="form-control" rows="3" ></textarea>
							</div>
							<div class="form-group">
								<label>Kota</label> <input type="text" name="city"  class="form-control">
							</div>
							<div class="form-group">
								<label>Negara</label> <input type="text" name="country" class="form-control">
							</div>
						</div>
						<div class="col-sm-5">
							<div class="form-group">
								<label>Username</label> <input type="text" name="username" 
									class="form-control" required="required">
							</div>
							<div class="form-group">
								<label>Email</label> <input type="text" name="email" 
									class="form-control" required="required">
							</div>
							<div class="form-group">
								<label>Password</label> <input type="Password" name="password" 
									class="form-control" required="required">
							</div>
							<div class="form-group">
								<label>Confirm Password</label> <input type="Password" 
									name="confpassword" class="form-control" required="required">
							</div>
							<div class="form-group" style="text-align: right;">
								<button type="submit" name="submit" class="btn btn-primary btn-lg"
									required="required">Sign Up</button>
							</div>
						</div>
						</form>
				</div>
			</div>
		</div>
	</section>

	<div id="bottom"></div>

	<footer id="footer" class="midnight-blue">
		<div class="container">
			<div class="row">
				<div align="center">&copy; 2018 Indonesia Talent Connection.
					All Rights Reserved.</div>
			</div>
		</div>
	</footer>
	<!--/#footer-->

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/jquery.isotope.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/wow.min.js"></script>
	<script
		src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
</body>
</html>