<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>People</title>
	
<!-- core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{//goo.gl/mTc43h}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/cssbox/style.css}">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
</head><!--/head-->

<body style="background-image: url(/images/backgrounf.png)">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/index}"><img src="/images/logologo.png" alt="logo" style="width: 150px; height: 70px;"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Issue  &nbsp; &nbsp; <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/issue">Issue</a></li>
                                <li><a href="/vote">Vote Issue</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="/people">People</a></li>
                        <!-- <li><a href="/masuk">Log In</a></li>  -->   
                        <li class="dropdown"><div class="pull-left post_profil" th:object= "${session.user}">
                        
                            </div> <a th:text = "${session.user.fullname}"></a> <i class="fa fa-angle-down"></i>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{'/profil/'+${session.user.id_user}}">Profil</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>      
                    </ul>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header>
    <div class="top"></div>

    
    <section id="main-slider" class="no-margin">
    <div style="background:rgb(255, 255, 255, 0.5); border-radius: 10px; padding: 20px">
        <div class="blog" style="background:rgb(255, 255, 255, 0.8); border-radius: 10px; padding: 30px 30px 30px">
        	<div class="row clearfix">
					<div class="col-md-8">
                    <div class="bataspeople">	
							<div class="media" style="color: black" th:each = "u:${user}">
								<div class="pull-left"  >
									<a href="#"><img style="border: 2px solid #969696; border-radius: 10px; width:200px; height:200px;" th:src="'/images/'+${u.picture}" alt=""></a>
								</div>
								<div class="media-body">
								<h4 style="color: black" th:text = "${u.fullname}"></h4>
									<h6 style="margin-top: 20px"><span id="publish_date"><img src="/icon/calendar-black.png" style="width: 15px; height: 15px;" class="img"> &nbsp;<span th:text= "${u.datejoined}"></span></h6>
									
                                    <div style=" text-left: left;">
										<div th:text = "${u.summary}"></div>
                                    </div>
                                    <div style=" text-align: right;">
                                        <a class="btn btn-lihat lihat" th:href="@{'/peopledetail/'+${u.id_user}}">Lihat informasi <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                            </div>   
                            <br>
					</div>
                    <br>
                    

		</div><!--/.container-->
				<aside class="col-md-4">
					<div class="widget search">
                     <div style="padding:1em 0.5em 1em 0.5em" class="boldez">
                        <form role="form">
                                <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </form>
                    </div>
                    </div>
    				<div class="widget categories">
                    	<div style="border-radius: 10px; border:2px solid #0048bc; padding:1em 1em 1em 1em" class="boldel">
                        <h3>Popular User</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single_comments">
                                    <img src="images/blog/avatar3.png" style="border-radius: 100px 100px 100px 100px" class="detailprofill">
                                    <div class="entry-meta small muted">
                                        
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single_comments">
                                    <img src="images/blog/avatar3.png" style="border-radius: 100px 100px 100px 100px" class="detailprofill">
                                    <div class="entry-meta small muted">
                                       
                                    </div>
                                </div>                                
                            </div>
                        </div>    
                    </div>
    			</aside> 
                </div>
    </section><!--/about-us-->
	
    

    <div id="bottom">
    </div>    
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div align="center">
                    &copy; 2018 Indonesia Talent Connection. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>

</body>
</html>