<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<style type="text/css">
    h4{
        padding-bottom: 20px;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Informasi</title>
    
    <!-- core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{//goo.gl/mTc43h}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/cssbox/style.css}">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
</head><!--/head-->

<body style="background-image: url(/images/backgrounf.png)">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/index}"><img src="/images/logologo.png" alt="logo" style="width: 150px; height: 70px;"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li class="dropdown ">
                            <a class="dropdown-toggle" data-toggle="dropdown">Issue  &nbsp; &nbsp; <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/issue">Issue</a></li>
                                <li><a href="/vote">Vote Issue</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="/people">People</a></li>
                        <!-- <li><a href="/masuk">Log In</a></li>  -->  
                        <li><a href="#"><img src="/icon/notif-white.png" style="width: 20px; height: 20px;"></a></li> 
                        <li class="dropdown"><div class="pull-left post_profil" th:object= "${session.user}">
                            <!-- <img src="/images/blog/girl.png" class="profil" > -->
                            </div> <a th:text = "${session.user.fullname}"></a> <i class="fa fa-angle-down"></i>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{'/profil/'+${session.user.id_user}}">Profil</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>    
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header>
    <div class="top"></div>

    <section id="main-slider" class="no-margin">
    <div style="background:rgb(255, 255, 255, 0.5); border-radius: 10px; padding: 20px 20px 20px">
        <div class="blog" style="background:rgb(255, 255, 255, 0.8); border-radius: 10px; padding: 30px 30px 30px; color: black;">
            <div class="row" th:each = "u:${users}">
                <div class="col-md-3"  >   
                    <div class="media" >
                        <div class="pull-left" >
                            <img class="detailprofil" th:src="'/images/'+ ${u.picture}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-5" style="margin-top: 40px;" > 
                    <h4 style="color: black;">Nama : <span th:text =  "${u.fullname}"}></span></h4>
                    <h4 style="color: black;">Handphone : <span th:text =  "${u.numberhp}"}></span></h4>
                    <h4 style="color: black;">Alamat : <span th:text =  "${u.address}"}></span></h4>
                    <h4 style="color: black;">Kota : <span th:text =  "${u.city}"}></span></h4>
                    <h4 style="color: black;">Negara : <span th:text =  "${u.country}"}></span></h4>
                </div>
                
                <div class="col-md-12" style="margin-top: 10px;" th:each = "u:${users}">   
                    <div class="media">
                        <div class="pull-left" >
                            <h4 style="color: black;">Summary : <span th:text =  "${u.summary}"}></span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <br>
    <div id="bottom">
    </div>    
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div align="center">
                    &copy; 2018 Indonesia Talent Connection. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>