<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profil Anda</title>
    
    <!-- core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{//goo.gl/mTc43h}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/cssbox/style.css}">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
</head><!--/head-->

<body style="background-image: url(/images/backgrounf.png)">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/index}"><img src="/images/logologo.png" alt="logo" style="width: 150px; height: 70px;"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Issue <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="issue.html">Issue</a></li>
                                <li><a href="vote.html">Vote Issue</a></li>
                            </ul>
                        </li>
                        
                        <li><a href="people.html">People</a></li>

                        <li class="dropdown "><a href="#"><img src="/icon/notif-white.png" style="width: 20px; height: 20px;"></a>
                           <!--  <ul class="dropdown-menu">
                                <li><a href="profil.html">David memberi pendapat kepada Anda</a></li>
                                <li><a href="index.html">David memberi pendapat kepada Anda</a></li>
                                <li><a href="index.html">David memberi pendapat kepada Anda</a></li>
                                <li><a href="index.html">David memberi pendapat kepada Anda</a></li>
                            </ul> -->
                        </li>
                        
                        <!-- <li><a href="contact-us.html">Log In</a></li>  -->   
                        <li class="dropdown"><div class="pull-left post_profil" th:object= "${session.user}">
                            <!-- <img th:src='/images/blog/girl.png" class="profil" > -->
                            </div> <a th:text = "${session.user.fullname}"></a> <i class="fa fa-angle-down"></i>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{'/profil/'+${session.user.id_user}}">Profil</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>   
                        

                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header>
    <div class="top"></div>

    <section id="main-slider" class="no-margin">
    <div style="background:rgb(255, 255, 255, 0.5); border-radius: 10px; padding: 20px 20px 20px">
        <div class="blog" style="background:rgb(255, 255, 255, 0.8); border-radius: 10px; padding: 30px 30px 30px; color: black;">
            <div class="row">
                <div class="col-md-3" >   
                    <div class="media">
                        <div class="pull-left" >
                            <img class="detailprofil" th:src="'/images/'+${user.picture}" alt="">
                            
                        </div>
                    </div>
                </div>
                <form th:action="@{'/editprofil/' + ${session.user.id_user}}" method = "post" th:object = ${user} enctype = "multipart/form-data">
                <div class="col-md-9"> 
                <table>
                    <tr>
                        <td><h4 style="color: black;">Nama </h4></td>
                        <td><h4 style="color: black;">:&nbsp;</h4></td>
                        <td><div style="margin-bottom: 10px; margin-top: 10px;"><input type="text" class="form-control" required="required" style="width: 650px;" th:field="*{fullname}"></div></td>
                    
                    </tr>    
                <tr>
                    <td><h4 style="color: black;">Handphone</h4></td> 
                    <td><h4 style="color: black;">:&nbsp;</h4></td>
                    <td><div style="margin-bottom: 10px; margin-top: 10px;"><input type="text" class="form-control" required="required" th:field="*{numberhp}"></div></td>
                </tr>
                <tr>
                    <td><h4 style="color: black;">Alamat </h4></td>
                    <td><h4 style="color: black;">:&nbsp;</h4></td> 
                    <td><div style="margin-bottom: 10px; margin-top: 10px;"><textarea name="message" id="messages" required="required" class="form-control" rows="3" th:field="*{address}"></textarea></div></td>
                </tr>
                <tr>
                    <td><h4 style="color: black;">Kota </h4></td>
                    <td><h4 style="color: black;">:&nbsp;</h4></td>
                    <td><div style="margin-bottom: 10px; margin-top: 10px;"><input type="text" class="form-control" required="required" th:field="*{city}"></div></td>
                </tr>
                <tr>
                    <td><h4 style="color: black;">Negara</h4></td> 
                    <td><h4 style="color: black;">:&nbsp;</h4></td>
                    <td><div style="margin-bottom: 10px; margin-top: 10px;"><input type="text" class="form-control" required="required" th:field="*{country}"></div></td>
                </tr>
                </table>
                		<label>Gambar</label>
						<input type="file" name="files">
                <div style="text-align: right;">
                <button type = "submit" class="btn btn-lihat lihat" > &nbsp;Save&nbsp; </button>
                
                </div>

            </div>
            </form>

        </div>

    </div>
</section>



    <div id="bottom">
    </div>    
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div align="center">
                    &copy; 2018 Indonesia Talent Connection. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>