<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style type="text/css">
    h4{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
        margin-left: 30px;
        margin-right: 30px;
    }

    h2{
        padding-top: 0px;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Profil</title>
    
<!-- core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{//goo.gl/mTc43h}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{cssbox/style.css}">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
</head><!--/head-->

<body style="background-image: url(/images/backgrounf.png)">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/index}"><img src="/images/logologo.png" alt="logo" style="width: 150px; height: 70px;"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/index}">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Issue  &nbsp; &nbsp; <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                            	<li th:if="${bukanguest}"></li>
                                <li><a th:href="@{/issue}">Issue</a></li>
                                <li><a th:href="@{/vote}">Vote Issue</a></li>
                            </ul>
                        </li>
                        <li><a href="/people">People</a></li>
                        <!-- <li><a href="	/masuk">Log In</a></li>  --> 
                        <li><a href="#"><img src="/icon/notif-white.png" style="width: 20px; height: 20px;"></a></li>  
                        <li class="dropdown"><div class="pull-left post_profil" th:object= "${session.user}">
                          
                            </div> <a th:text = "${session.user.fullname}"></a> <i class="fa fa-angle-down"></i>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{'/profil/'+${session.user.id_user}}">Profil</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>      
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header>
    <div class="top"></div>

<section id="main-slider" class="no-margin">
    <div style="background:rgb(255, 255, 255, 0.5); border-radius: 10px; padding: 20px">
        <div class="blog" style="background:rgb(255, 255, 255, 0.8); border-radius: 10px; padding: 20px 20px 20px">
            <div class="blog-item">
                <div class="row">
                    <div class="blog-item" style="padding-top: 70px;">
                    <div class="col-xs-12 col-sm-12 blog-conten">
                        <div class="isiy" th:object = "${user}">
                            <div style="text-align: center;">
                                <img class="detailprofil" th:src="'/images/'+ ${user.picture}" style="margin-top: -100px;">
                            </div>
                            <div class="col-md-6"> 
                            	<table>
                            	<tr>
                            	<td><h4 style = "color :black ;">Nama </td>
                            	<td><h4 style = "color :black ;"> : </td>
                            	<td><h4 style = "color :black ;"><span th:text = "${user.fullname}"></span></h4></td>
                            	</tr>
                            	<tr>
                            	<td><h4 style = "color :black ;">Handphone </td>
                            	<td><h4 style = "color :black ;"> : </td>
                            	<td><h4 style = "color :black ;"><span th:text = "${user.numberhp}"></span></h4></td>
                            	</tr>
                            	<tr>
                            	<td><h4 style = "color :black ;">Jenis Kelamin </td>
                            	<td><h4 style = "color :black ;"> : </td>
                            	<td><h4 style = "color :black ;"><span th:text = "${user.sex}"></span></h4></td>
                            	</tr>
                            	</table>                            	
                            </div>
                            <div class="col-md-6"> 
                            	<table>
                            	<tr>
                            	<td><h4 style = "color :black ;">Alamat </td>
                            	<td><h4 style = "color :black ;"> : </td>
                            	<td><h4 style = "color :black ;"><span th:text = "${user.address}"></span></h4></td>
                            	</tr>
                            	<tr>
                            	<td><h4 style = "color :black ;">Kota </td>
                            	<td><h4 style = "color :black ;"> : </td>
                            	<td><h4 style = "color :black ;"><span th:text = "${user.city}"></span></h4></td>
                            	</tr>
                            	<tr>
                            	<td><h4 style = "color :black ;">Negara </td>
                            	<td><h4 style = "color :black ;"> : </td>
                            	<td><h4 style = "color :black ;"><span th:text = "${user.country}"></span></h4></td>
                            	</tr>
                            	</table>                            	
                            </div>
                            <div class="col-md-6" th:object = "${user}"> 
                            	                         	
                            </div>
                           	<div style=" text-align: right; ">
                            <a class="btn btn-lihat lihat" th:href="@{'/editprofil/'+${session.user.id_user}}"><img class="imgs" src="icon/update-white.png" alt=""> &nbsp;Edit Profile</a>
                            </div>
                        </div>
                    </div>
                	</div>
            </div>  
            <div class="col-md-6">
                <div class="blog-item">
                        <div class="row" th:if="${not #lists.isEmpty(user)}">
                            <div class="col-xs-12 col-sm-12 blog-conten" th:each="u:${user}">
                            <div class="isix"><h2 style="color: black">Summary</h2>    
                                <h3 style="color: black;" th:text="${u.summary}"></h3>
                                <div style=" text-align: right; ">
                                <a class="btn btn-lihat lihat" th:href="@{'/editsum/'+ ${u.id_user}}" ><img class="imgs" src="icon/update-white.png" alt=""> &nbsp;Edit Summary</a>
                                </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>    
            <aside class="col-md-6">
                <div class="isix"><h2 style="color: black">Jumlah topik persoalan : <span th:text = "${count}"></span></h2>
                    <div class="form-group"; th:if="${not #lists.isEmpty(topic)}">
                        <div class="isiin" th:each="t:${topic}">
                        
                            <h2>
                                <div style="text-align: right; padding-bottom: 10px; padding-top: 0px;">
                                <a class="ngapus" th:href="${'/topic/hapus/'+t.id}"><img class="imgx" src="/icon/delete-white.png" alt=""></a>
                                <a class="ngedit" th:href="${'/topic/edit/'+t.id}"><img class="imgx" src="/icon/update-white.png" alt=""></a>
                                </div>
                            <a th:href= "@{'/issuedetail/' + ${t.id}}"><div class="c" th:text="${t.title}"></div></a>
                            </a>
                            </h2>
                            <span id="publish_date"><img src="/icon/calendar-black.png" style="width: 15px; height: 15px;" class="img">&nbsp;<td th:text="${t.datecreated}"></td></span>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            <span id="publish_date"><img class="imgs" src="/icon/keuangan-white.png" alt=""> &nbsp; Keuangan</a></span>
                            <h3 style="color: black;" th:text="${t.description}"></h3>
                        </div>
                    </div>   
                </div>
            </aside>
            </div>
        </div>  
    </div>     
</section>

    
   <div id="bottom">
    </div>

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div align="center">
                    &copy; 2018 Indonesia Talent Connection. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
</body>
</html>