<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Issue</title>
    
<!-- core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet">
    <link th:href="@{/css/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/responsive.css}" rel="stylesheet">
    <link th:href="@{//goo.gl/mTc43h}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/cssbox/style.css}">
    
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/images/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/images/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/images/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/images/ico/apple-touch-icon-57-precomposed.png}">
</head><!--/head-->

<body style="background-image: url(/images/backgrounf.png)">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/index}"><img src="/images/logologo.png" alt="logo" style="width: 150px; height: 70px;"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li class="dropdown active">
                            <a class="dropdown-toggle" data-toggle="dropdown">Issue  &nbsp; &nbsp; <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/issue">Issue</a></li>
                                <li><a href="/vote">Vote Issue</a></li>
                            </ul>
                        </li>
                        <li><a href="/people">People</a></li>
                        <!-- <li><a href="/masuk">Log In</a></li>  -->  
                       
                        <li class="dropdown"><div class="pull-left post_profil" th:object= "${session.user}">
                           
                            </div> <a th:text = "${session.user.fullname}"></a> <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{'/profil/'+${session.user.id_user}}">Profil</a></li>
                                <li><a href="/logout">Log Out</a></li>
                            </ul>
                        </li>      
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header>
    <div class="top"></div>

    
    <section id="main-slider" class="no-margin">
    <div style="background:rgb(255, 255, 255, 0.5); border-radius: 10px; padding: 20px">
      <div class="blog" style="background:rgb(255, 255, 255, 0.8); border-radius: 10px; padding: 30px 30px 30px">
            <div class="row">
                 <div class="col-md-8">
                    <div class="blog-item">
                        <div class="row">    
                            <div class="col-xs-12 col-sm-12 blog-content"; th:if="${not #lists.isEmpty(topic)}">
                            <div class="garis" th:each="t:${topic}">
                                <h2><a href="/issue"><div class="c" th:text="${t.title}"></div></a></h2>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                 <span id="publish_date"><i class="fa fa-user"></i> &nbsp;<span th:text="${t.user.fullname}"></span></span>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    <span id="publish_date"> &nbsp;<span></span></span>
                                <h3 th:text="${t.description}"></h3>
                                <form method="post" th:action="@{'/topic/create/'+${t.id}}" th:object="${topic}">
                                <button type="submit" class="btn btn-primary readmore">
                                <table>
                                <td> Agree ( </td>
                                <td> <div th:text="${t.totalagree}"></div></td>
                                <td> / 5 )</td>
                                </table>
                                </button>
                                </form>
                            </div>
                            </div>
                            
                        </div>    
                    </div><!--/.blog-item-->
                        
                    
                    <div style="text-align: center">
                   <!--<ul class="pagination pagination-lg">
                        <li><a href="#"><i class="fa fa-long-arrow-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-long-arrow-right"></i></a></li>
                    </ul>
                     --> 
                    </div>
                </div><!--/.col-md-8-->

                <aside class="col-md-4">
	
                
                    <div class="widget search">
							<div style="padding: 1em 0.5em 1em 0.5em" class="boldez">
								<form th:action="@{/search}" role="form">
									<input name="searchTitle" type="text"
										class="form-control search_box" autocomplete="off"
										placeholder="Search Here">
								</form>
							</div>
						</div>
    				
                    <div class="widget categories">
                    <div style="border-radius: 10px 10px 10px 10px; border:2px solid #0048bc; padding:1em 0.5em 1em 0.5em" class="boldel">
                        <h3>Popular Issue</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="single_comments">
                                   
                                    </div>
                                </div>
                                
                                
                            </div>
                        
                        </div>  
                        </div>                 
                    </div><!--/.recent comments-->
    			</aside>  
            </div><!--/.row-->
        </div>
    </div>
    </section><!--/#blog-->


    <div id="bottom">
    </div>    
    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div align="center">
                    &copy; 2018 Indonesia Talent Connection. All Rights Reserved.
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>