
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: -3px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 19px;
  transition: all 0.15s ease-out 0s;
  background: white;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #012e66;
}
.option-input:checked {
  background: #012e66;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #012e66;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
  border: 2px solid #8e8e8e;
}
.option-input.radio::after {
  border-radius: 50%;
}

.opsi {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 10px;
  width: 10px;
  transition: all 0.15s ease-out 0s;
  background: white;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  outline: none;
  position: relative;
  z-index: 1000;
}


.opsi:checked {
  background: white;
}
.opsi:checked::before {
  height: 9px;
  width: 9px;
  position: absolute;
  content: '✔';
  color: black;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  line-height: 11px;
}
.opsi:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: white;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}


.cekbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: -3px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 19px;
  transition: all 0.15s ease-out 0s;
  background: white;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  outline: none;
  position: relative;
  z-index: 1000;
}
.cekbox:hover {
  background: #012e66;
}
.cekbox:checked {
  background: #012e66;
}
.cekbox:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
}
.ceknox:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #012e66;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}